@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Merriweather:wght@300&family=Oswald:wght@300&display=swap");

* {
    margin: 0;
    padding: 0;
    border: none;
}

*{
  box-sizing: border-box;
}


/*set font poperties for all pages*/
body {
    font-family: Merriweather, Oswald;
    font-weight: 300;
    color: #002980;
    /*background-color: #ffffbf;
    
    background-image: url("assets/images/hero_image_horse_field.webp") no-repeat center center;*/
   
}

/*set the root colors for the Quiz container*/
:root {
    --hue-neutral: 200;
    --hue-wrong: 10;
    --hue-correct: 150;
  }

  /*#hero-outer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    width: 100%;
    overflow: hidden;
  }

  /*style hero image for Index page
#hero-image {
    
    width: 100%;
    background-image: url("assets/images/hero_image_horse_field.webp") no-repeat center center;
  }*/
  
  #Quiz-container {
    
    /*display: block;*/
    align-items:center;
    font-size: 100%;
    font-family: Merriweather, Oswald;
    letter-spacing: 2px;  
    max-width: 750px;
    height: auto;
    margin: 50px auto;
    /*margin-left: 50px;*/
    padding: 20px;
    /*left: 0;*/
    position: relative;
    /*overflow: hidden;*/
    background-color: rgba(23, 67, 88, 0.1);
    -webkit-box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
            box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
  }


  .btn-column {
    display: grid;
    
    grid-template-columns: repeat(1, auto);
    gap: 10px;
    margin: 20px 0;
    
  }

  .btn {
    --hue: var(--hue-neutral);
    border: 1px solid hsl(var(--hue), 100%, 30%);
    background-color: hsl(var(--hue), 100%, 40%);
    border-radius: 10px;
    padding: 10px 10px;
    margin: 10px;
    color: whitesmoke;
    outline: none;
  }

  .btn:hover {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
}


.btn.correct {
    --hue: var(--hue-correct);
    color: black;
  }
  
  .btn.wrong {
    --hue: var(--hue-wrong);
  }

  .start-btn, .next-btn, .refresh-btn, .home-btn {
    font-size: 1.2rem;
    font-weight: bold;
    padding: 10px 20px;
  }

  .controls {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .hide {
    display: none;
  }
  
  #results {
    text-align: center;
  }
  